*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    background: #FAF8ED;
}
header{
    display: flex;
    justify-content: space-between;
}
nav{
    display: flex;
    justify-content: center;
}

.header__menu{
    padding: 0px 150px;
}
